<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
<!--    <link rel="icon" href="favicon.ico">-->
<!--    <link rel="stylesheet" href="">-->
    <title>F</title>
</head>
<body>
<div id="outer">
    <div id="inner">
        <img src="F.svg" />

        <p>Încă ne gândim ce<br>
            să punem aici</p>
    </div>
</div>
</body>

<style>
    body {
        background: rgb(103,90,73);
        color: white;
    }

    #outer {
        display: table;
        position: absolute;
        left: 5%;
        top: 0;
        width: 90%;
        height: 90%;
    }

    #inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    img {
        width: 80%;
        max-width: 300px;
    }

    p {
        font: xx-large "Tex Gyre Schola",serif;
    }

</style>
</html>
